[Desktop Entry]
Type=MBTheme
Name=Borillo
Preview=XXX
Comment=Blondie theme 
ThemePath=@prefix@/themes/blondie
DockBgColor=#e0e0e0
MenuBgColor=#e0e0e0
MenuFgColor=#11111d
MenuBdColor=#7297ce
#MenuTransparency=240
MenuHlColor=#7297ce
PanelFgColor=black
DesktopBgSpec=col-solid:#e0e0e0